<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <!-- <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
  <!-- <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'> -->
	<title>Block Overflow</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<div class="container">
    <div id="signin">
    <% if @user %>
      <a href="/users/sign_out">sign out</a>
    <% else %> 
      <a href="/users/sign_up">sign up</a>
      <a href="/users/sign_in">sign in</a>
    <% end %>
    </div>
		<%= yield %>
	</div>
</body>
</html>