body {
	/*background-image: url('/images/bg.jpg');*/
	/*background-color: grey;*/
  font-family: 'Average Sans', sans-serif;
	/*font-size: 1.2em;*/
}

.container{
	width: 100%;
	margin: 0 auto;
}

.post {
	background-color: rgba(255, 215, 144, 0.86);
	/*border-radius: 3em;*/
	margin-top: 0em;
	padding: 1em;
	padding-left: 6%;
	-moz-box-shadow: -19px 28px 27px #FFF;
	-webkit-box-shadow: -19px 28px 27px #FFF;
	box-shadow: -19px 28px 27px #FFF;
}
.post:nth-child(even){
	margin-left: 30%;
	padding-right: 10%;
	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;
}
.post:nth-child(odd){
	padding-left: 30%;
  margin-right: 40%;
	background-color: #CCB8FF;
	border-top-right-radius: 3em;
	border-bottom-right-radius: 3em;
}

h1 {
	font-family: 'Average Sans', sans-serif;
	/*color: red;*/
}

.post .body {
/*	background-color: rgba(255,255,255,.8);
	border-radius: 1em;
	border: 1px solid;*/
}

.post .comments {
/*	background-color: rgba(0,0,0,.10);
	border-color: grey;
	padding: 1em;*/
	font-family: 'Cardo', sans-serif;
}


.post .new_comment {
	/*background-color: orange;*/
}

/*
.comments p{
	transform: skew(-7deg, 1deg) ;
	-webkit-transform: skew(-7deg, 1deg) ;
	-moz-transform: skew(-7deg, 1deg) ;
	-o-transform: skew(-7deg, 1deg) ;
	-ms-transform: skew(-7deg, 1deg) ;
}
*/
.italics {
	font-style: italic;
}

.comments p {
	/*padding: 1em;*/
}

.comments p:nth-child(even){
/*	border: 1px solid grey;
	padding: 1em 0;*/
}

/*ul {
	color: red;
	list-style-type: none;
}*/
