body {
  font-family: 'Average Sans', sans-serif;
}

input[type="text"], textarea {
	font-family: 'Average Sans', sans-serif;
	font-size: 1.2em;
}

textarea[name="comment_text"] {
	width: 100%;
}


input[type="submit"] {

}

.container{
	width: 100%;
	margin: 0 auto;
}

.post {
	border-color: #128DFF;
	margin-top: 0em;
	padding: 1em;
	padding-left: 6%;
}
.post:nth-child(even){
	background-color: #128DFF;
	margin-left: 22%;
	margin-right: -10px;
	padding-right: 30%;
	border-top-left-radius: 22em 3em;
	border-bottom-left-radius: 22em 3em;
}
.post:nth-child(odd){
	padding-left: 30%;
	padding-right: 8%;
	margin-right: 22%;
	margin-left: -10px;
	background-color: #EEE;
	border-top-right-radius: 22em 3em;
	border-bottom-right-radius: 22em 3em;
}

#signin {
	text-align: right;
 	float:right;
}

h1 {
	padding-top: 38px;
	margin-top: -10px;
	text-decoration: none;
}

.post .body {
/*	background-color: rgba(255,255,255,.8);
	border-radius: 1em;
	border: 1px solid;*/
}

.post .comments {
/*	background-color: rgba(0,0,0,.10);
	border-color: grey;
	padding: 1em;*/
	/*font-family: 'Cardo', sans-serif;*/
}

.top_header{
	text-align: center;
	background-color: #128DFF;
	width: 56%;
	min-width: 600px;
	margin: 0 auto;
	padding-bottom: 10px;
	border-bottom-left-radius: 22em 3em;
	border-bottom-right-radius: 22em 3em;

}

.post .new_comment {
	/*background-color: orange;*/
}

/*
.comments p{
	transform: skew(-7deg, 1deg) ;
	-webkit-transform: skew(-7deg, 1deg) ;
	-moz-transform: skew(-7deg, 1deg) ;
	-o-transform: skew(-7deg, 1deg) ;
	-ms-transform: skew(-7deg, 1deg) ;
}
*/
.italics {
	font-style: italic;
	text-align: right;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover{
	color: turquoise;
}

.center, table {
	margin: 0 auto;
}

.center {
	display: block;
}

td{
	width: 17%;
}

.indent {
    margin-left: 5%;
}

