body {
  font-family: 'Average Sans', sans-serif;
}

input[type="text"], textarea {
	font-family: 'Average Sans', sans-serif;
	font-size: 1.2em;
  /*background-color: #def2c1;*/
}

textarea[name="comment_text"] {
	width: 100%;
}


input[type="submit"] {
	margin: 0 auto;
	display:block;

  /*background-color: #def2c1;*/
}

/*{
  background-color: rgba(0,0,0,.25);
  color: white;
  font-family: 'Courier New';
}*/

.container{
	width: 100%;
	/*background-color: blue;*/
	margin: 0 auto;
}

.post {
	border-color: #128DFF;
	margin-top: 0em;
	padding: 1em;
	padding-left: 6%;
/*	-moz-box-shadow: -19px 28px 27px #eee;
	-webkit-box-shadow: -19px 28px 27px #eee;
	box-shadow: -19px 28px 27px #eee;*/
}
.post:nth-child(even){
	background-color: #128DFF;
	margin-left: 22%;
	margin-right: -10px;
	padding-right: 30%;
	border-top-left-radius: 22em 3em;
	border-bottom-left-radius: 22em 3em;
}
.post:nth-child(odd){
	padding-left: 30%;
	padding-right: 8%;
	margin-right: 22%;
	margin-left: -10px;
	background-color: #EEE;
	border-top-right-radius: 22em 3em;
	border-bottom-right-radius: 22em 3em;
}

#signin {
	text-align: right;
 	float:right;
 /*	display: block;
 	margin: 0 auto;*/

}

h1 {
	/*font-family: 'Average Sans', sans-serif;*/
	padding-top: 38px;
	margin-top: -10px;
	text-decoration: none;
}

.post .body {
/*	background-color: rgba(255,255,255,.8);
	border-radius: 1em;
	border: 1px solid;*/
}

.post .comments {
/*	background-color: rgba(0,0,0,.10);
	border-color: grey;
	padding: 1em;*/
	/*font-family: 'Cardo', sans-serif;*/
}

#top_header{
	text-align: center;
	background-color: #128DFF;
	width: 56%;
	min-width: 600px;
	margin: 0 auto;
	padding-bottom: 10px;
	border-bottom-left-radius: 22em 3em;
	border-bottom-right-radius: 22em 3em;

}

.post .new_comment {
	/*background-color: orange;*/
}

/*
.comments p{
	transform: skew(-7deg, 1deg) ;
	-webkit-transform: skew(-7deg, 1deg) ;
	-moz-transform: skew(-7deg, 1deg) ;
	-o-transform: skew(-7deg, 1deg) ;
	-ms-transform: skew(-7deg, 1deg) ;
}
*/
.italics {
	font-style: italic;
	text-align: right;
}

.comments p {
	/*padding: 1em;*/
}

.comments p:nth-child(even){
/*	border: 1px solid grey;
	padding: 1em 0;*/
}

a {
	text-decoration: none;
	color: blue;
}

a:hover{
	color: turquoise;
}
