body {
	/*background-image: url('/images/bg.jpg');*/
	/*background-color: grey;*/
  font-family: 'Average Sans', sans-serif;
	/*font-size: 1.2em;*/

}



textarea {
  /*background-color: #def2c1;*/
}



.container{
	width: 100%;
	/*background-color: blue;*/
	margin: 0 auto;
}

.post {
	border-color: #EEE;
	margin-top: 0em;
	padding: 1em;
	padding-left: 6%;
/*	-moz-box-shadow: -19px 28px 27px #FFF;
	-webkit-box-shadow: -19px 28px 27px #FFF;
	box-shadow: -19px 28px 27px #FFF;*/
}
.post:nth-child(even){
	background-color: #EEE;
	margin-left: 30%;
	padding-right: 35%;
	border-top-left-radius: 22em 3em;
	border-bottom-left-radius: 22em 3em;
}
.post:nth-child(odd){
	padding-left: 36%;
	padding-right: 8%;
	margin-right: 24%;
	background-color: #128DFF;
	border-top-right-radius: 22em 3em;
	border-bottom-right-radius: 22em 3em;
}

h1 {
	font-family: 'Average Sans', sans-serif;
	/*color: red;*/
}

.post .body {
/*	background-color: rgba(255,255,255,.8);
	border-radius: 1em;
	border: 1px solid;*/
}

.post .comments {
/*	background-color: rgba(0,0,0,.10);
	border-color: grey;
	padding: 1em;*/
	font-family: 'Cardo', sans-serif;
}


.post .new_comment {
	/*background-color: orange;*/
}

/*
.comments p{
	transform: skew(-7deg, 1deg) ;
	-webkit-transform: skew(-7deg, 1deg) ;
	-moz-transform: skew(-7deg, 1deg) ;
	-o-transform: skew(-7deg, 1deg) ;
	-ms-transform: skew(-7deg, 1deg) ;
}
*/
.italics {
	font-style: italic;
	text-align: right;
}

.comments p {
	/*padding: 1em;*/
}

.comments p:nth-child(even){
/*	border: 1px solid grey;
	padding: 1em 0;*/
}

/*ul {
	color: red;
	list-style-type: none;
}*/
